{% extends 'base.html.twig'%}
{% block body %}
    <h1>Bienvenue sur ce blog !</h1>

    <p>dkuezflshoejwgmopaaaaaaaaaaaaaaaaaaaaaaaaaaaadsf gregzee</p>
    <p>aggggggggggggg        ffd g nfnf n</p>
    
{% endblock %}