{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<section class="articles">
    
    <article>
    <h2> Titre de l'article</h2>
    <div class="metadata"> Ecrit le 11/12/2018 à 22:00 dans la catégorie Actualités</div>
    <div class="container">
        <img src="http://placehold.it/350x150" alt="">
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.. </p>
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.. </p>
        <a href="{{path('blog_show')}}" class="btn btn-primary">Lire la suite</a>
    </div>
    </article>
     <article>
    <h2> Titre de l'article</h2>
    <div class="metadata"> Ecrit le 11/12/2018 à 22:00 dans la catégorie Actualités</div>
    <div class="container">
        <img src="http://placehold.it/350x150" alt="">
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.. </p>
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.. </p>
        <a href="{{path('blog_show')}}" class="btn btn-primary">Lire la suite</a>
    </div>
    </article>
     <article>
    <h2> Titre de l'article</h2>
    <div class="metadata"> Ecrit le 11/12/2018 à 22:00 dans la catégorie Actualités</div>
    <div class="container">
        <img src="http://placehold.it/350x150" alt="">
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.. </p>
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.. </p>
        <a href="{{path('blog_show')}}" class="btn btn-primary">Lire la suite</a>
    </div>
    </article>
</section>
{% endblock %}
