{% extends 'base.html.twig' %}
{% block body %}
  <article>
    <h2> Titre de l'article</h2>
    <div class="metadata"> Ecrit le 11/12/2018 à 22:00 dans la catégorie Actualités</div>
    <div class="container">
        <img src="http://placehold.it/350x150" alt="">
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.. </p>
         <hr>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget rutrum ligula. Nulla scelerisque ut justo sit amet molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris convallis a purus in cursus. Etiam hendrerit eros in nunc tincidunt, eget sagittis quam porta. Fusce venenatis in nisl id faucibus. Sed finibus turpis nec porta consequat.

            Nam at aliquam tellus. Vivamus ullamcorper, odio auctor suscipit aliquet, neque mauris tempus neque, id eleifend lacus nisi sit amet libero. Quisque consequat, orci nec porttitor commodo, ligula mi fringilla ante, eu sodales nunc dolor ut ex. Curabitur vehicula suscipit ante eget posuere. Aenean pretium porttitor tincidunt. Vivamus placerat, nunc sed iaculis aliquet, metus sem lobortis justo, nec eleifend quam odio fermentum felis. Aenean dapibus, est consectetur sollicitudin consequat, augue mi scelerisque libero, ultrices gravida velit libero vel neque. Pellentesque purus dolor, ullamcorper sed justo imperdiet, ultrices hendrerit nibh. Suspendisse commodo diam a augue tempor facilisis. Suspendisse eget odio nec velit convallis tristique. Sed ornare velit sed sagittis condimentum.

        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget rutrum ligula. Nulla scelerisque ut justo sit amet molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris convallis a purus in cursus. Etiam hendrerit eros in nunc tincidunt, eget sagittis quam porta. Fusce venenatis in nisl id faucibus. Sed finibus turpis nec porta consequat.

            Nam at aliquam tellus. Vivamus ullamcorper, odio auctor suscipit aliquet, neque mauris tempus neque, id eleifend lacus nisi sit amet libero. Quisque consequat, orci nec porttitor commodo, ligula mi fringilla ante, eu sodales nunc dolor ut ex. Curabitur vehicula suscipit ante eget posuere. Aenean pretium porttitor tincidunt. Vivamus placerat, nunc sed iaculis aliquet, metus sem lobortis justo, nec eleifend quam odio fermentum felis. Aenean dapibus, est consectetur sollicitudin consequat, augue mi scelerisque libero, ultrices gravida velit libero vel neque. Pellentesque purus dolor, ullamcorper sed justo imperdiet, ultrices hendrerit nibh. Suspendisse commodo diam a augue tempor facilisis. Suspendisse eget odio nec velit convallis tristique. Sed ornare velit sed sagittis condimentum.

        </p>

    </div>
    </article>
{% endblock %}